.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.carouselExampleFade{
    size: 50px;
}

.cardI{
    display: flex;
    display: inline-block;
}

.my-carousel {
    left: -300px;
}

.logo {
    position: relative;
    width: 20px;
}
