.card { 
    position: relative;
    left: 60px;
    bottom: -40px;
}

.carouselExampleFade{
    size: 50px;
}

.cardI{
    display: flex;
    display: inline-block;
}

.my-carousel {
    left: -300px;
}
